[Unit]
Description=Controllo di salute della VM ogni 5 minuti

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
